h1 {
    font-size: 30px;
    text-align: center;
}
h2 {
    font-size: 20px;
    text-align:center;
}
h4 {
    color:wheat;
    font-weight: bold;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;

}

h6 {
    color: purple;
    font-weight: bold;
    font-family: Verdana;

}

.nav {
    font-family: Gill Sans;
    text-align: center;
    color:purple;
}
p {
    color: wheat;
    font-weight: bold;
    text-align: center;
}
#introduction {
    font-weight: 600;
    color: wheat;
    border-radius: 45px;
    text-align: center;
}
h3 {
    font-size: 20px;
    color: purple;
}
input[type=text], textarea{
    border-radius:4px;
    box-sizing: border-box;
    margin: 6px 0px 16px 0px;
    padding: 12px;
    resize: vertical;
    width:100%;
}
input[type=submit] {
    background-color:purple;
    color:wheat;
    padding:12px 20px;
    border:none;
    border-radius:28px;
    cursor:pointer;
}
input[type=submit]:hover{
    background-color:palevioletred;
}
button[type=button] {
    background-color:purple;
    color:wheat;
    padding:12px 20px;
    border:none;
    border-radius:28px;
    cursor:pointer;
}
button[type=button]:hover{
    background-color:palevioletred;
}
table {
    width:100%;
    background-color: purple;
    font-family:'Gill Sans';
    color:wheat;
    text-align:center;
    box-sizing: border-box;
    border-radius:4px;
    margin: 5px 5px 5px 5px;
}
form {
    color:purple;
    font-family:'Gill Sans';
}
.navbar {
    color:purple;

}


.nav:after {
content:"";
clear:both;
display:block;
}

.nav li {
 float: left;
 list-style-type: none;
 }

 nav {
     color:purple;
 }

 h6 {
     color: purple;
     font-family:"Calibri";
     text-align:center
 }
 h4 {
    color: purple;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align:center
 }

 .example {
     display: flex;
     flex-direction: column;
     align-items: center;
 }
 